body {
  height: 100vh;
  width:100vw;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

#color-idea {
    color: #00A79D;
}

#input-side {
  display:flex;
  flex-direction: column;
  align-items: center;
  height: 60%;
  width: 100%;
}

#enter-div {
  display: flex;
  flex-direction:column;
  align-items: center;
  height: auto;
  background-color:#E5F3F2;
  width:100%;
}

#idea-title {
  font-size: 12px;
}



.ninety {
  border: solid 1px #D1D3D4;
  width: 90vw;
  margin-top:20px;
}

h1{
  margin:20px 0 0 0;
  font-family: 'Roboto Slab', sans-serif;
  color: #6D6E71;
}

#save-button {
  margin-bottom:20px;
  font-size: 20px;
  color: #FFFFFF;
  background: #00A79D;
  border:none;
  padding-bottom: 4px;
  letter-spacing: 1px;
  height: 32px;
}

#save-button:hover {
    background: #045E55;
}

#display-side {
  width: 100%;
}

#idea-content {
  font-size:24px;
  max-width:90%;
  max-height: 80px;
  letter-spacing: 1px;
  border: 2px solid #D1D3D4;
}

#search,
#idea-title {
  font-size:24px;
  letter-spacing: 1px;
  border: 2px solid #D1D3D4;
}

.idea-card {
  margin:0 auto;
  width:90%;
}

h2 {
  max-width:80%;
  color: #6D6E71;
}

#line-1 {
  display:flex;
  justify-content: space-between;;
}

#line-2 {
  margin:10px 0;
  max-width:100%;
  color: #939598;
}

#line-3 {
  display:flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 2px solid #D1D3D4;
}

#quality-line {
  color: #6D6E71;
}

p{
  margin:0;
}
img {
  width:30px;
  padding-top:10px;
}
button{
  background: transparent;
  border:none;
}


#upvote-button,
#downvote-button {
  margin-right  :10px;
  padding:0;
}
