body {
  height: 100vh;
  width:100vw;
}

#input-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#enter-div {
  background-color:#E5F3F2;
  width: 100%;
  display: flex;
  flex-direction:column;
  align-items: center;
  height: auto;
}

#search-box {
  width: 100%;
}

.ninety {
  border: solid 1px #D1D3D4;
  width: 90vw;
}

.ninety {
  margin-top: 40px;
}

h1 {
  margin-top: 40px;
  margin-bottom: 0;
  font-size: 100px;
  color: #6D6E71;
}

#idea-content {
  font-size: 42px;
  max-width:90%;
  min-width:90%;
  max-height:500px;
}

#idea-title,
#search {
  height: 80px;
  font-size: 42px;
  padding-left: 5px;
}

#save-button {
  height: 100px;
  font-size: 42px;
  padding-left: 5px;
  margin-bottom: 40px;
  background: #00A79D;
  color: #FFFFFF;
}

#idea-title,
#idea-content,
#search {
  border: solid 5px #D1D3D4;
}

#color-idea {
  color: #00A79D;
}

/*idea-card layout*/
.idea-card {
  margin-top: 60px;
  border-bottom: solid 5px #D1D3D4;
  padding-bottom: 30px;
}

#line-1,
#line-2,
#line-3 {
  position: relative;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  display: inline-block;
  font-size: 70px;
  color: #6D6E71;
  margin: 0;
  max-width: 80%;
}

#line-1 {
  display:flex;
  justify-content: space-between;
}

#line-2 {
  font-size: 42px;
  max-width: 90%;
}

#line-3 {
  display:flex;
  justify-content: flex-start;
}

#line-3 p {
  font-size: 36px;
}

img {
  width:80px;
}

#upvote-button,
#downvote-button {
  margin-right:30px;
}


button {
  border:none;
  background:transparent;
}

/*@media screen and (min-width: 750px) {

  #idea-title,
  #idea-content,
  #search {
    height:56px;
    max-height:56px;
    max-width:60vw;
  }

  #save-button {
    height:60px;
  }

  .ninety {
    width: 60vw;
    height:46px;
  }

  h1 {
    font-size: 60px;
  }

}*/
