body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  height: 100vh;
  width: 100vw;
}

/*typography*/
h1{
  color: #6D6E71;
  font-family: 'Roboto Slab', sans-serif;
  margin: 20px 0 0 0;
}

h2 {
  color: #6D6E71;
  max-width: 80%;
}

p {
  margin: 0;
}

/*content*/
#input-side {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 60%;
  width: 100%;
}

#enter-div {
  align-items: center;
  background-color: #E5F3F2;
  display: flex;
  flex-direction: column;
  min-height: 300px;
  width: 100%;
}

#color-title {
  color: #00A79D;
}

#filter,
#todo-title {
  border: 2px solid #D1D3D4;
  font-size: 24px;
  letter-spacing: 1px;
}

.user-inputs {
  border: solid 1px #D1D3D4;
  margin-top: 20px;
  width: 90vw;
}

#todo-content {
  border: 2px solid #D1D3D4;
  font-size: 24px;
  letter-spacing: 1px;
  max-width: 90%;
  max-height: 80px;
  min-height: 80px;
}


#save-button:hover {
  background: #045E55;
}

.character-label {
  margin: 10px;
}

#save-button {
  background: #00A79D;
  border: none;
  color: #FFFFFF;
  font-size: 20px;
  height: 32px;
  letter-spacing: 1px;
  margin: 0 0 20px 0;
  padding-bottom: 4px;
}

.filter-button {
  background: #00A79D;
  border: none;
  color: #FFFFFF;
  display: inline-block;
  font-size: 14px;
  margin: 10px;
  padding: 5px 10px;
}

.filter-button-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
}

.filter-button:hover {
  background: #045E55;
}

#display-side {
  width: 100%;
}

.completed-button {
  background: none;
  background-image: url('images/completed.svg');
  background-repeat: no-repeat;
  border: none;
  height: 50px;
  margin-right: 10px;
  margin-top: 22px;
  text-align: right;
  width: 30px;
}

.completed-button:hover {
  background-image: url('images/completed-hover.svg');
}

.completed-on {
  background: none;
  background-image: url('images/completed-hover.svg');
  background-repeat: no-repeat;
  border: none;
  height: 50px;
  margin-right: 10px;
  margin-top: 22px;
  text-align: right;
  width: 30px;
}

.todo-card {
  margin: 0 auto;
  width: 90%;
}

#line-1 {
  display: flex;
  justify-content: space-between;
}

#line-2 {
  color: #939598;
  line-height: 25px;
  margin: 10px 0;
  max-width: 100%;
}

#line-3 {
  align-items: center;
  border-bottom: 2px solid #D1D3D4;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 10px;
}

#importance-line {
  color: #6D6E71;
  flex-grow: 2;
}

/*card buttons*/
#delete-button {
  background: none;
  background-image: url('images/delete.svg');
  background-repeat: no-repeat;
  border: none;
  margin-top: 22px;
  width: 30px;
}

#upvote-button {
  background: none;
  background-image: url('images/upvote.svg');
  background-repeat: no-repeat;
  border: none;
  height: 50px;
  margin-right: 10px;
  margin-top: 22px;
  width: 30px;
}

#upvote-button:hover {
  background-image: url('images/upvote-hover.svg');
}

#delete-button:hover {
  background-image: url('images/delete-hover.svg');
}

#downvote-button {
  background: none;
  background-image: url('images/downvote.svg');
  background-repeat: no-repeat;
  border: none;
  height: 50px;
  margin-right: 10px;
  margin-top: 22px;
  width: 30px;
}

#downvote-button:hover {
  background-image: url('images/downvote-hover.svg');
}

/*other functionality*/
.hide {
  display: none;
}

/*display-side button*/
#show-all-button {
  display: block;
  margin: 20px auto;
}





@media screen and (min-width: 800px) {
  h1 {
    font-size: 70px;
  }

  #input-side {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
  }

  .user-inputs {
    border: solid 1px #D1D3D4;
    margin-top: 20px;
    width: 50vw;
  }

  .filter-button-holder {
    width: 50%;
  }

  .todo-card {
    margin:0 auto;
    width: 50%;
  }

  #todo-content {
    max-height: 26px;
    max-width: 50%;
    min-height: 0;
    min-width: 50%;
  }
}
